.back-to-home-button {
    padding: 10px 15px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color: #cc8809;
    color: white;
}

.back-to-home-button:hover {
    background-color: rgba(204, 136, 9, 0.8);
    color: white;
    font-weight: 500;
}